.bbn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lololo{
        fill: #f39e00;
    color: #F9A403;
    border: 1px #F9A403;
    background-color: #e5a42b0f;
    border-style: solid;
    border-color: #F9A403;
}
.bnbnbn{
    background-image: url(https://i.pinimg.com/236x/51/15/3d/51153dd1a7180b871017d750df6cf34b.jpg);
    background-size: 40%;
    background-position-x: center;
    background-position: right;
    background-repeat: no-repeat;
}
.bbbbbbb{
   transform: rotate(-10deg);
   /* background-image: url(https://i.pinimg.com/236x/bb/62/1c/bb621ce0494ea02269b64abf004e3d6b.jpg); */
}
.bbxbb{
    /* background-image: url(https://images.pexels.com/photos/1983032/pexels-photo-1983032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gmg{
    color: white;
    background-color: #FFBA001A;
    border-style: solid;
    border-width: 0px 0px 10px 10px;
    border-color: #FFBA00;
    border-radius: 8px 8px 8px 8px;
}


.container {
  width: 300px;
  height: 300px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;

}

.item {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: inherit;
}
.bb{
    fill: #F9A403;
    /* color: #F9A403; */
    background-color: #F9A4030F;
    border-style: solid;
    border-color: #F9A403;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.maquee{
  overflow: hidden;

  /* background-color: black; */
}
@keyframes scrol {
  0%{transform: translateX(0);}
  100%{transform: translateX(-500vw);}
}
@keyframes scrolling {
  0%{transform: translateX(0);}
  100%{transform: translateX(-200vw);}
}
.maquee-content{
  animation: scrolling 30s linear infinite;
}
.maqueee-content{
  animation: scrol 10s linear infinite;
}

/* .hfhfhhf{
  background-image: url(https://i.pinimg.com/564x/07/6d/4d/076d4d0ee32ca417b92829ef5c857061.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */